{% extends 'layouts::master.twig' %}

{% block title %}Index – Project-Overview{% endblock %}
{% block description %}This is the startpage of your prototype{% endblock %}

{% block body %}
<% if (config.get('addons').indexOf('slider') != -1)
{
%>
	{% include 'partials::slider.twig' %}
<%
}
%>
    <p>Congratulations, the prototype was built successfully! :)</p>
	{% include 'components::sample/sample.twig' %}

<% if (config.get('addons').indexOf('select') != -1)
{
%>
	<select id="ref-select" class="select jsb_ jsb_Select" name="select" required="required" data-jsb="">
		<option value="option 1">option 1</option>
		<option value="option 2">option 2</option>
		<option value="option 3">option 3</option>
	</select>
<%
}
%>
{% endblock %}
