{% extends 'layouts::master.twig' %}

{% block title %}Index – Project-Overview{% endblock %}
{% block description %}This is the startpage of your prototype{% endblock %}

{% block body %}
    <p>Congratulations, the prototype was built successfully! :)</p>
    <div class="jsb_ jsb_Test" data-jsb="foo=bar"></div>
{% endblock %}