{% extends 'layouts::master.twig' %}

{% block title %}Index – Project-Overview{% endblock %}
{% block description %}This is the startpage of your prototype{% endblock %}

{% block body %}
    <p>Congratulations, the prototype was built successfully! :)</p>
{% endblock %}