import React, { Component } from 'react';
import { BrowserRouter, Switch, Route } from 'react-router-dom';
import logging from 'node-logging-js';
import KeyboardFocus from './KeyboardFocus';
import { ROUTES } from './config';

import Header from '../components/header/Header';
import Footer from '../components/footer/Footer';
import Sample from '../components/pages/sample/Sample';
import Forms from '../components/pages/forms/Forms';
import Counter from '../components/pages/counter/Counter';
import NotFound from '../components/pages/not-found/NotFound';

export default class App extends Component {

    constructor(props) {
        super(props);
        logging.applyLogging(this, 'App');
        this.logDebug('init');
        KeyboardFocus.initialize();
    }

    render() {
        return (
            <BrowserRouter>
                <Header />
                <main className="b-page">
                    <Switch>
                        <Route exact path={ROUTES.home} component={Sample} />
                        <Route exact path={ROUTES.forms} component={Forms} />
                        <Route exact path={ROUTES.counter} component={Counter} />
                        <Route component={NotFound} />
                    </Switch>
                </main>
                <Footer />
            </BrowserRouter>
        );
    }
}
