{% extends 'layouts::master.twig' %}

{% block title %}Nikita Prototype{% endblock %}
{% block description %}This is the startpage of your Nikita prototype{% endblock %}

<% if (config.get('jsFramework') === 'react') { -%>
{% block body %}
    <div id="main-app"></div>
<%     if (config.get('libraries').includes('react-a11y-dialog')) { -%>
    <div id="main-dialogs"></div>
<%     } -%>
{% endblock %}
<% } -%>
<% if (config.get('jsFramework') === 'jsb') { -%>
{% block body %}
    <p>Congratulations, your Nikita prototype was built successfully! :)</p>

    <br />
    {% include 'components::sample/sample.twig' %}
<%     if (config.get('libraries').includes('a11y-dialog')) { -%>
    <br />
    {% include 'components::dialog/dialog.twig' %}
<%     } -%>
<%     if (config.get('libraries').includes('choices')) { -%>
    <br />
    {% include 'components::select/select.twig' %}
<%     } -%>
<%     if (config.get('libraries').includes('swiper')) { -%>
    <br />
    {% include 'components::slider/slider.twig' %}
<%     } -%>
{% endblock %}
<% } -%>
