<div class="b-slider jsb_ jsb_Slider" data-jsb="">
    <div class="swiper-wrapper">
        <div class="swiper-slide">Hi, I am slide 1</div>
        <div class="swiper-slide">Hi, I am slide 2</div>
        <div class="swiper-slide">Hi, I am slide 3</div>
        <div class="swiper-slide">Hi, I am slide 4</div>
    </div>

    <button type="button" class="prev">Prev</button>
    <button type="button" class="next">Next</button>
</div>
