<div class="b-slider jsb_ jsb_Slider" data-jsb="">
    <div class="slide-container">
        <div class="slide">Hi, I'm slide 1</div>
        <div class="slide">Hi, I'm slide 2</div>
        <div class="slide">Hi, I'm slide 3</div>
        <div class="slide">Hi, I'm slide 4</div>
    </div>

    <button class="prev">Prev</button>
    <button class="next">Next</button>
</div>
