<button type="button" data-a11y-dialog-show="my-accessible-dialog">Open test dialog</button>
<br/>

<div id="my-accessible-dialog" class="b-dialog jsb_ jsb_Dialog" data-jsb="">
    <div class="backdrop" tabindex="-1" data-a11y-dialog-hide></div>

    <dialog class="dialog" aria-labelledby="my-dialog-title">
        <button class="close" type="button" data-a11y-dialog-hide aria-label="Close this dialog window">&times;</button>
        <h1 class="title" id="my-dialog-title">Dialog Title</h1>
        <p>Dialog Content</p>
    </dialog>
</div>
