<!DOCTYPE html>
<!--[if IE 9]> <html class="no-js lt-ie10 ie9" lang="de"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="de"> <!--<![endif]-->
	
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=IE7" />
		
		<title>{{ title }}</title>
		
		<meta name="description" content="{{ description }}" />
		<meta name="keywords" content="" />
		
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<!--[if ! lte IE 9]><!-->
		<link href="css/styles.css?cb={{ currentTimestamp }}" rel="stylesheet"  />
		<!--<![endif]-->
		
		<!--[if IE 9]>
		<link href="css/styles-part1.css?cb={{ currentTimestamp }}" rel="stylesheet" />
		<![endif]-->
		<% if (config.get('features').indexOf('universalCss') != -1) { %>

		<!--[if lte IE 8]>
		<link href="css/universal.css?cb={{ currentTimestamp }}" rel="stylesheet" />
		<![endif]-->
		<% } %>

		<script src="js/modernizr.js?cb={{ currentTimestamp }}"></script>
		
		{{partial 'favicons'}}
	</head>

	<body>
<% if (config.get('features').indexOf('gitinfos') != -1) { %>
		{{#if production}}
		{{partial 'gitinfos'}}
		{{/if}}
<% } %>
<% if (config.get('features').indexOf('svgSprite') != -1) { %>
		<script>
			/* lazy load icon-sprite, to avoid including it */
			var ajax = new XMLHttpRequest();
			ajax.open("GET", "img/icons/icon-sprite.svg", true);
			ajax.send();
			ajax.onload = function(e) {
				var div = document.createElement("div");
				div.innerHTML = ajax.responseText;
				document.body.insertBefore(div, document.body.childNodes[0]);
			}
		</script>

<% } %>
		{{> body }}
		
		<script data-main="app" src="js/main.js?cb={{ currentTimestamp }}"></script>
	</body>
	
</html>
