import React, { Component } from 'react';
import logging from 'node-logging-js';
import { Swiper, Navigation } from 'swiper/dist/js/swiper.esm';

/* @see http://idangero.us/swiper/api/ */
class Slider extends Component {
    constructor(props) {
        super(props);
        logging.applyLogging(this, 'Slider');
        this.logDebug('init:', props);

        Swiper.use([Navigation]);
        this.elementRef = React.createRef();
        this.slider = null;
    }

    componentDidMount() {
        const defaults = {
            initialSlide: 0,
            slidesPerView: 1,
            autoHeight: false,
            effect: 'slide',
            speed: 300,
            navigation: {
                nextEl: '.next',
                prevEl: '.prev',
            },
            on: {
                init: () => {
                },
                slideChange: () => {
                },
            },
        };

        const options = { ...defaults, ...this.props };

        this.swiper = new Swiper(this.elementRef.current, options);
    }

    componentWillUnmount() {
        this.swiper.destroy();
    }

    render() {
        return (
            <div className="b-slider" ref={this.elementRef}>
                <div className="swiper-wrapper">
                    <div className="swiper-slide">Hi, I am slide 1</div>
                    <div className="swiper-slide">Hi, I am slide 2</div>
                    <div className="swiper-slide">Hi, I am slide 3</div>
                    <div className="swiper-slide">Hi, I am slide 4</div>
                </div>

                <button type="button" className="prev">Prev</button>
                <button type="button" className="next">Next</button>
            </div>
        );
    }
}

export default Slider;
