import React, { Component } from 'react';
import logging from 'node-logging-js';
import A11yDialog from 'react-a11y-dialog';

/* @see https://github.com/HugoGiraudel/react-a11y-dialog */
class Dialog extends Component {
    constructor(props) {
        super(props);
        logging.applyLogging(this, 'Dialog');
        this.logDebug('init:', props);
        this.dialog = null;
    }

    show = () => {
        this.dialog.show();
    }

    hide = () => {
        this.dialog.hide();
    }

    render() {
        const options = {
            id: 'my-accessible-dialog',
            titleId: 'my-dialog-title',
            appRoot: '#main-app',
            dialogRoot: '#main-dialogs',
            title: 'Dialog Title',
            classNames: {
                base: 'b-dialog',
                overlay: 'backdrop',
                element: 'dialog',
                title: 'title',
                closeButton: 'close',
            },
            ...this.props,
        };

        return (
            <div>
                <button type="button" onClick={this.show}>
                    Open the dialog
                </button>

                <A11yDialog {...options} dialogRef={(dialog) => (this.dialog = dialog)}>
                    <p>Dialog Content</p>
                </A11yDialog>
            </div>
        );
    }
}

export default Dialog;
