<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

        <title>{% block title %}{% endblock %}</title>

        <meta name="description" content="{% block description %}{% endblock %}" />
        <meta name="keywords" content="" />

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link href="generated/styles.css?cb={{ currentTimestamp }}" rel="stylesheet" />

        {% include 'partials::appicons.twig' %}
    </head>
    <body>
<% if (config.get('features').includes('gitinfos')) { -%>
        {% if production %}
            {% include 'partials::gitinfos.twig' %}
        {% endif %}
<% } -%>

<% if (config.get('jsFramework') === 'jsb') { -%>
        {% include 'partials::header.twig' %}
<% } -%>
        <main id="main" class="main">
        {% block body %}{% endblock %}
        </main>
<% if (config.get('jsFramework') === 'jsb') { -%>
        {% include 'partials::footer.twig' %}
<% } -%>

        <script src="generated/main.js?cb={{ currentTimestamp }}"></script>
    </body>
</html>
