<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

        <title>{% block title %}{% endblock %}</title>

        <meta name="description" content="{% block description %}{% endblock %}" />
        <meta name="keywords" content="" />

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link href="generated/styles.css?cb={{ currentTimestamp }}" rel="stylesheet" />
        <meta class="foundation-mq">

        {% include 'partials::appicons.twig' %}
    </head>
    <body>
<% if (config.get('features').includes('gitinfos')) { -%>
        {% if production %}
            {% include 'partials::gitinfos.twig' %}
        {% endif %}
<% } -%>

<% if (config.get('jsFramework') === 'react') { -%>
        {% block body %}{% endblock %}
<% } -%>
<% if (config.get('jsFramework') === 'jsb') { -%>
        {% include 'components::header/header.twig' with { activeRoute: block('activeRoute') } %}
        <main id="main" class="b-page">
            {% block body %}{% endblock %}
        </main>
        {% include 'components::footer/footer.twig' %}
<% } -%>

<% if (config.get('features').includes('modernJsBuild')) { -%>
        {# safari 10 nomodule bugfix #}
        <script>!function(){var e=document,t=e.createElement("script");if(!("noModule"in t)&&"onbeforeload"in t){var n=!1;e.addEventListener("beforeload",function(e){if(e.target===t)n=!0;else if(!e.target.hasAttribute("nomodule")||!n)return;e.preventDefault()},!0),t.type="module",t.src=".",e.head.appendChild(t),t.remove()}}();</script>

        <script type="module" src="generated/main.modern.js?cb={{ currentTimestamp }}"></script>
        <script nomodule defer src="generated/main.js?cb={{ currentTimestamp }}"></script>
<% } else { -%>
        <script src="generated/main.js?cb={{ currentTimestamp }}"></script>
<% } -%>
    </body>
</html>
