<!-- Documentation http://idangero.us/swiper/ -->
<section class="b-slider">
	<div class="swiper-container jsb_ jsb_Slider">
		<div class="swiper-wrapper">
			<article class="swiper-slide"><img src="http://via.placeholder.com/800x200?text=Slide-1"></article>
			<article class="swiper-slide"><img src="http://via.placeholder.com/800x200?text=Slide-2"></article>
		</div>
		<!-- Markup for dotted pagination -->
		<div class="swiper-pagination"></div>
		<!-- Markup for arrow navigation -->
		<button class="swiper-button-next" title="next slide"></button>
		<button class="swiper-button-prev" title="previous slide"></button>
	</div>
</section>
