<template>
    <div class="b-sample">
        Congratulations, the nikita react prototype was built successfully! :)
        <br />
        <router-link to="/state-example">goto state example</router-link>
    </div>
</template>

<script>
export default {
    name: 'sample',
}
</script>