import React, { Component } from 'react';
import logging from 'node-logging-js';
import { withRouter } from 'react-router-dom';
import { Helmet } from 'react-helmet-async';
import { ROUTES } from '../../../js/config';
import Button from '../../common/button/Button';

class NotFound extends Component {
    constructor(props) {
        super(props);
        logging.applyLogging(this, 'NotFound');
    }

    goBack = () => {
        this.props.history.go(-1);
    }

    render() {
        return (
            <div className="b-not-found">
                <Helmet>
                    <title>Not found - nikita kickstarter</title>
                </Helmet>

                <h1>Not Found</h1>
                <Button isPrimary className="action-button" onClick={this.goBack}>Back</Button>
                <Button isSecondary className="action-button" to={ROUTES.home}>Home</Button>
            </div>
        );
    }
}

export default withRouter(NotFound);
