import React, { Component } from 'react';
import logging from 'node-logging-js';
import { Helmet } from 'react-helmet-async';
import Sample from '../../page-blocks/sample/Sample';
<% if (config.get('libraries').includes('react-a11y-dialog')) { -%>
import Button from '../../common/button/Button';
import Dialog from '../../common/dialog/Dialog';
<% } -%>
<% if (config.get('libraries').includes('swiper')) { -%>
import Slider from '../../common/slider/Slider';
<% } -%>

class Home extends Component {
    constructor(props) {
        super(props);
        logging.applyLogging(this, 'Home');
        this.logDebug('init:', props);
    }

    render() {
        return (
            <div className="b-home">
                <Helmet>
                    <title>nikita kickstarter</title>
                    <meta name="description" content="This is the startpage of your nikita kickstarter." />
                </Helmet>

                <Sample />
                <br />
<% if (config.get('libraries').includes('react-a11y-dialog')) { -%>
                <br />
                <Button isPrimary data-a11y-dialog-show="my-dialog">Open sample dialog</Button>
                <Dialog id="my-dialog" title="Dialog title">
                    <p>Dialog Content</p>
                </Dialog>
                <br />
<% } -%>
<% if (config.get('libraries').includes('swiper')) { -%>
                <br />
                <Slider>
                    <Slider.Slide>Hi, I am slide 1</Slider.Slide>
                    <Slider.Slide>Hi, I am slide 2</Slider.Slide>
                    <Slider.Slide>Hi, I am slide 3</Slider.Slide>
                    <Slider.Slide>Hi, I am slide 4</Slider.Slide>
                </Slider>
<% } -%>
            </div>
        );
    }
}

export default Home;
