---
title: Index – Project-Overview
layout: lyt-default.hbs
description: This is the startpage of your prototype. Provide an overview of all pages built in this project.
---
<p>Congratulations, the prototype was built successfully! :)</p>
