---
title: Responsive Webdesign Testing
layout: lyt-default.hbs
description: Different viewport sizes are simulated through iFrames.
---
<div class="b-rwd-testing">
	<h1>Responsive Webdesign Testing</h1>
	
	<div class="frame">
		<h2>iPhone 5s | portrait | 320 x 568</h2>
		
		<iframe src="index.html" width="320" height="568" seamless="seamless" frameborder="0"></iframe>
	</div>
	
	<div class="frame">
		<h2>iPhone 5s | landscape | 568 x 320</h2>
		
		<iframe src="index.html" width="568" height="320" seamless="seamless" frameborder="0"></iframe>
	</div>
	
	<div class="frame">
		<h2>iPad Air | portrait | 768 x 1024</h2>
		
		<iframe src="index.html" width="768" height="1024" seamless="seamless" frameborder="0"></iframe>
	</div>
	
	<div class="frame">
		<h2>iPad Air | landscape | 1024 x 768</h2>
		
		<iframe src="index.html" width="1024" height="768" seamless="seamless" frameborder="0"></iframe>
	</div>
</div>
