import React, { Component } from 'react';
import logging from 'node-logging-js';
<% if (config.get('libraries').includes('lodash')) { -%>
import { camelCase } from 'lodash-es';
<% } -%>
<% if (config.get('libraries').includes('date-fns')) { -%>
import { format } from 'date-fns/esm';
<% } -%>

class Sample extends Component {
    constructor(props) {
        super(props);
        logging.applyLogging(this, 'Sample');
        this.logDebug('init:', props);
<% if (config.get('libraries').includes('lodash')) { -%>

        this.logDebug(`lodash in nikita: ${camelCase('this should be camel case')}`);
<% } -%>
<% if (config.get('libraries').includes('date-fns')) { -%>

        this.logDebug(`date-fns in nikita: Today is a ${format(new Date(), 'EEEE')}`);
<% } -%>
    }

    render() {
        return (
            <div className="b-sample">
                Congratulations, your nikita kickstarter was built successfully! :)
            </div>
        );
    }
}

export default Sample;
