import React, { Component } from 'react';
import logging from 'node-logging-js';
import { connect, actions } from '../../../js/Store';
import Button from '../../common/button/Button';

export class RawCounter extends Component {
    constructor(props) {
        super(props);
        logging.applyLogging(this, 'Counter');
        this.logDebug('init:', props);
    }

    onClick = () => {
        actions.increaseCount(1);
    }

    render() {
        return (
            <div className="b-counter">
                <span className="value">counter value is: { this.props.count }</span>
                <br /><br />
                <Button isPrimary onClick={this.onClick}>Increase Counter</Button>
            </div>
        );
    }
}

export default connect(({ count }) => ({ count }))(RawCounter);
