<select id="ref-select" class="b-select jsb_ jsb_Select" name="select" required="required" data-jsb="">
    <option value="option 1">option 1</option>
    <option value="option 2">option 2</option>
    <option value="option 3">option 3</option>
</select>
