/* eslint-disable no-console */
import React from 'react';
import { mount } from 'enzyme';
import { MemoryRouter } from 'react-router';
import Sample from './Sample';

test('Sample Component loads correctly', () => {

<% if (config.get('libraries').includes('react-a11y-dialog')) { -%>
    document.body.innerHTML = '<div id="main-dialogs"></div>';

<% } -%>
    const component = mount(
        <MemoryRouter>
            <Sample />
        </MemoryRouter>,
    );

    expect(component.find('.b-sample')).toHaveLength(1);
    expect(console.log).toHaveBeenCalledWith('[Sample.render]');
});
