import React, { Component } from 'react';
import logging from 'node-logging-js';
import { Link } from 'react-router-dom';

class Sample extends Component {
    constructor(props) {
        super(props);
        logging.applyLogging(this, 'Sample');
        this.logDebug('init:', props);
    }

    render() {
        return (
            <div className="b-sample">
                Congratulations, the react prototype was built successfully! :)<br />
                <Link to="/state-example">goto state example</Link>
            </div>
        );
    }
}

export default Sample;
