<!DOCTYPE html>
<!--[if IE 9]> <html class="no-js lt-ie10 ie9" lang="de"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="de"> <!--<![endif]-->

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=IE7" />

        <title>{% block title %}{% endblock %}</title>

        <meta name="description" content="{% block description %}{% endblock %}" />
        <meta name="keywords" content="" />

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!--[if ! lte IE 9]><!-->
        <link href="css/styles.css?cb={{ currentTimestamp }}" rel="stylesheet"  />
        <!--<![endif]-->

        <!--[if IE 9]>
        <link href="css/styles-part1.css?cb={{ currentTimestamp }}" rel="stylesheet" />
        <![endif]-->


        <script src="js/modernizr.js?cb={{ currentTimestamp }}"></script>

        <!-- Favicon -->
        <link rel="shortcut icon" href="img/appicons/favicon.ico" />

        <!-- non-retina iPhone pre iOS 7 -->
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="img/appicons/touch-icon-57-precomposed.png" />

        <!-- non-retina iPad pre iOS 7 -->
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/appicons/touch-icon-72-precomposed.png" />

        <!-- non-retina iPad iOS 7 -->
        <link rel="apple-touch-icon" sizes="76x76" href="img/appicons/touch-icon-76.png" />

        <!-- retina iPhone pre iOS 7 -->
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/appicons/touch-icon-114-precomposed.png" />

        <!-- retina iPhone iOS 7 -->
        <link rel="apple-touch-icon" sizes="120x120" href="img/appicons/touch-icon-120.png" />

        <!-- retina iPad pre iOS 7 -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/appicons/touch-icon-144-precomposed.png" />

        <!-- retina iPad iOS 7 -->
        <link rel="apple-touch-icon" sizes="152x152" href="img/appicons/touch-icon-152.png" />

        <!-- Win8 tile -->
        <meta name="msapplication-TileImage" content="img/appicons/favicon-144.png" />
        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta name="application-name" content="<%= config.get('name') %>" />



        <!-- IE11 tiles -->
        <meta name="msapplication-square70x70logo" content="img/appicons/tile-tiny.png" />
        <meta name="msapplication-square150x150logo" content="img/appicons/tile-square.png" />
        <meta name="msapplication-wide310x150logo" content="img/appicons/tile-wide.png" />
        <meta name="msapplication-square310x310logo" content="img/appicons/tile-large.png" />
    </head>

    <body>

        <% if (config.get('features').indexOf('gitinfos') != -1) { %>
            {% if production %}
                {% include 'partials::gitinfos.twig' %}
            {% endif %}
        <% } %>
        <% if (config.get('features').indexOf('svgSprite') != -1) { %>
            <script>
                /* lazy load icon-sprite, to avoid including it */
                var ajax = new XMLHttpRequest();
                ajax.open("GET", "img/icons/icon-sprite.svg", true);
                ajax.send();
                ajax.onload = function(e) {
                    var div = document.createElement("div");
                    div.innerHTML = ajax.responseText;
                    document.body.insertBefore(div, document.body.childNodes[0]);
                }
            </script>
        <% } %>

        {% block body %}{% endblock %}

        <script src="js/main.js?cb={{ currentTimestamp }}"></script>
    </body>

</html>
